Source: fs-onedatafs
Maintainer: Bartek Kryza <bkryza@gmail.com>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/onedata/fs-onedatafs

Package: python-fs.onedatafs
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Onedata filesystem for PyFilesystem2
 OnedataFS
 =========
 .
 OnedataFS is a `PyFilesystem <https://www.pyfilesystem.org/>`__
 interface to `Onedata <https://onedata.org>`__ virtual file system.
 .
 As a PyFilesystem concrete class,
 `OnedataFS <https://github.com/onedata/fs-onedatafs/>`__ allows you to
 work with Onedata in the same way as any other supported filesystem.
